Package: plymouth-theme-biglinux-globo
Version: 1.0.0-1big1
Depends:
Architecture: all
Maintainer: Your Name <your@mail>
Section: admin
Priority: optional
Installed-Size:868
Description: Describe your package
